JWT_SECRET= # Either generate a new one or copy the one from an existing project location
HTTP_PORT=8080
HTTPS_PORT=8443

SPOTIFY_CLIENT_ID= # Get from https://developer.spotify.com/dashboard
SPOTIFY_CLIENT_SECRET= # Get from https://developer.spotify.com/dashboard

SERVER_SSL_KEY=
SERVER_SSL_CERT=

# temp this might not work, if not, comment out and hit /admin/spotify/login
SPOTIFY_TOKEN= # Set this after logging in so you don't have to re-auth every time you restart the app
