SPOTIFY_CLIENT_ID= # Get from https://developer.spotify.com/dashboard
SPOTIFY_CLIENT_SECRET= # Get from https://developer.spotify.com/dashboard

SPOTIFY_TOKEN= # Set this after logging in so you don't have to re-auth every time you restart the app